.App {
  width: 90%;
  margin: 4rem auto;
  height: 100%;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 0rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
}

.subject__section {
  display: grid;
  grid-template-rows: auto 1fr;
}

.subject__container {
  /* border-right: 2px solid black; */
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  padding: 2rem 1rem;
  background-color: #99CCFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subject {
  padding: 0.5rem 1rem;
  width: 100%;
  border: 2px solid lightblue;
  margin-bottom: 2rem;
  border-radius: 0.5rem;

  cursor: pointer;
  background-color: white;
  color: black !important;
}

.subject:hover{
  background-color: #0096FF;
  color:white;
}

.search__subject {
  padding: 0.5rem 0rem;
}

.search__subject input {
  border-bottom: 2px solid black;
  line-height: 1.5rem;
  padding: 0.5rem 1rem;
  /* border-radius: 2rem; */
  width: 100%;
  font-size: 1.1rem;
}

.search__subject button {
  margin-top: 2rem;
  width: 100%;
  color: white;
  font-size: 1.2rem;
  background-color: #0096FF;
  padding: 0.5rem rem;
  border-radius: 1rem;
  cursor: pointer;
  padding: 0.5rem 0;
}

.title {
  height: 6rem;
  margin: 0;
  text-align: left;
  background-color: #0096FF;
  padding: 1.5rem 2rem;
  color: white;
  font-weight: normal;
}

.book__section {
  width: 100%;
}

.searchbox__container {
  width: 100%;
  height: 6rem;
  padding: 1.5rem 4rem;
  background-color: #0096FF;
}

.searchbox__section {
  /* padding: 0.5rem 1rem; */
  border-radius: 2rem;
  border: 1px solid #0096FF;
  display: grid;
  grid-template-columns: 12fr 1fr;
  overflow: hidden;
  background-color: white;
}

.searchbox__section input {
  /* border-bottom: 1px solid black; */
  line-height: 1.5rem;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
}

.searchbox__section button {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.result__container {
  width: 100%;
  min-height: 90vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.result {
  width: 100%;
  border: 1px solid #0096FF;
  border-radius: 0.5rem;
  background-color: white;
  color: black;
  display: grid;
  padding: 0.5rem 1rem;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  /* overflow: hidden; */
}
.result p{
  /* border-left: 1px solid #0096FF; */
  padding-right: 1rem;
  margin: 0;
}
.result__title {
  height: auto;
  overflow: none;
  background-color: #0096FF;
  color: white;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
}

.result__footer {
  width: 100%;
  padding: 1rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pre,
.next {
  background-color: #0096FF;
  padding: 0.75rem 1.5rem;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.1rem;
}

.pre:disabled,
.next:disabled {
  background-color: #99CCFF;
}

.no__result {
  min-height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wait {
  min-height: 80vh;
  text-align: center;
  padding: 1rem 0rem;
  color: grey;
}
.subjects__page{
  width: 100%;
  /* margin: 4rem auto; */
  /* margin-top: 0; */
  margin: 0;
}
.subjects__page h2{
  text-transform: capitalize;
  text-align: center;
  color: white;
  background-color: #0096FF;
  margin: 0;
  padding: 1.5rem 0rem;
  margin-bottom: 2rem;
}
.books{
  width: 80%;
  margin: auto;
  padding: 0.75rem 1rem;
  border: 2px solid #0096FF;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  
}
.books p{
  margin: 0;
  padding-right: 1rem;

}
.books__title{
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  padding: 0.5rem 1rem;
  background-color: #0096FF;
  color: white;
  border-radius: 0.5rem;
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
}
.books__title p{
  margin: 0;
  padding-right: 1rem;
}
.books:hover{
  color: white;
  background-color: #0096FF;
}
.menu{
  display: none;
}
.icon{
  font-size: 1.5rem;
  cursor: pointer;
}
.close{
  display: none;
}
@media screen and (max-width: 600px) {
  
  .App {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    margin: 0;
    width: 100%;
    box-shadow: none;
  }

  .result__container {
    height: 100%;

  }
  .subject__section{
    min-height: 100vh;
  }
  .title{
    text-align: center;
  }
  .searchbox__container{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
  }

  .subject__section {
    position:absolute;
    top:0;
    left: -100%;
    width: 100%;
  }
  .subjects__page{
    width: 100%;
  }
  .menu{
    display: block;
  }
  .show{
    left:0;
  }
  .close{
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  .books__title{
    width: 90%;
  }
  .books{
    width: 90%;
  }
}
.no__result p{
  width: 4rem;
  height: 4rem;
  background-color: #0096FF;
  border-radius: 50%;
  animation: load 2s ease-in-out 0s infinite;
}
@keyframes load {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(0.2);
  }
  100%{
    transform: scale(1);
  }
}